<?xml version="1.0" encoding="UTF-8"?>
<Configuration level="info">
    <Properties>
        <Property name="logs-archive-path">D:/intersections-ws/archive-logs</Property>
        <Property name="logs-path">D:/intersections-ws</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}{STYLE=Logback}" />-->
            <PatternLayout pattern="%5p %d{HH:mm:ss.SSS} %x %logger{2} line:%L - %msg %rEx%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="${logs-path}/intersections-ws.log" filePattern="${logs-archive-path}/$${date:yyyy-MM}/intersections-ws-%d{dd-MM-yyyy}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5p %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax"/>
        </RollingFile>
        <JDBC name="Jdbc" tableName="intersectionsdatabase_ws_log.logs">
            <DataSource jndiName="jdbc/intersection_ws_logs" />
            <Column name="log_uid" pattern="%x" />
            <Column name="log_date" isEventTimestamp="true" />
            <Column name="log_priority" pattern="%level" />
            <Column name="log_category" pattern="%logger:%L" />
            <Column name="log_message" pattern="%message" isClob="true"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
        <Logger level="debug" name="com.cvele.intersections.ws" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Jdbc" />
        </Logger>
    </Loggers>
</Configuration>
